@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../bower_components/bitters/app/assets/stylesheets/_base.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "./mixins.scss";

$my-dark-purple: rgba(66,46,74,1);
$my-purple: rgba(145,101,162,1);
$my-light-purple: rgba(169,118,189,1);
$my-dark-blue: rgba(17,73,115,1);
$my-blue: rgba(29,122,192,1);
$my-light-blue: rgba(121,180,224,1);
$my-dark-green: rgba(40,80,57,1);
$my-green: rgba(72,160,82,1);
$my-light-green: rgba(99,219,140,1);
$my-dark-orange: rgba(107,67,1,1);
$my-light-orange: rgba(255,169,70,1);
$my-orange: rgba(189,119,8,1);
$my-light-red: rgba(210,110,99,1);
$my-red: rgba(190,66,64,1);
$my-yellow: rgba(189,167,8,1);
$my-aqua: rgba(29,193,192,1);
$my-pink: rgba(255,148,192,1);
$font-black: #333;
$white-translucent: rgba(255,255,255,.7);

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(3, 600);

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

.pace .pace-progress {
    background: #2299dd;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transition: all 1s ease;
}

/**
 * GENERAL
 */


img {max-width:100%;}

body {
    transition: opacity .25s ease;
}

//Typography Header Size
@for $i from 1 through 6 {
  h#{$i} {
    font-size: modular-scale(6 - $i);
  }
}

//ThemeHeader
header.theme-header{
      color: white;
      background-color: #333;
      margin: auto;
      padding: 2.5em;
      text-align: center;

        h1 {
          font-weight: 200;
          margin-bottom: .25rem;
        }

        p {
          text-align: right;
          font-weight: 200;
          margin: 0 auto 3em auto; 

          @include media($large-screen) {
            max-width: 50%;
          }
        }
  }
@import "imports/_homepage.scss";
@import "imports/_odyssey.scss";
@import "imports/_menus.scss";
@import "imports/_details.scss";