main#rolldown-layout{
	$nature-med-blue: rgba(75,117,150,1);
	$nature-light-blue: rgba(156,212,217,1);
	$nature-off-white: rgba(242,223,216,1);
	$nature-sand: rgba(191,159,148,1);
	$nature-dark-brown: rgba(50,34,17,1);
	/*--The rolldown effect is right here */
	nav{
		background: black;
		color: white;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		height: 8rem;
		width: 100%;
	}

	header{
		position:relative;
		height: 100vh;
		min-height: 500px;
		color: white;
		z-index: 10;
		background: red;

	}
	/*---------------------e*/

	header{
		background: url('../images/rolldown/sky-clouds.jpg') center center no-repeat;
		background-size: cover;
		h1{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate(-50%,-50%);
			color: #fff;
			text-align: center;
			text-shadow: 1px 1px 1px #333;
		}
	}

	nav{
		background: $nature-dark-brown;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;

		a{	
			display: block;
			color: #fff;
			background: #333;
			margin: 0px 20px;
			line-height: 8rem;
			padding: 0 5%;
			transition: all .2s;

			&:hover{
				background: $nature-light-blue;
				color: $nature-dark-brown;
			}
		}

	}
	
	section{
		color: $nature-dark-brown;
		padding: 2rem;
		margin: auto;

		article{
			max-width: 800px;
			padding: 2rem;
			margin: 4rem auto;
			border-top: 3px solid $nature-med-blue;
			border-left: 1px solid $nature-sand;
			
			h3{
				font-weight: 200;
			}

			p{

			}
			.img-container{
				max-width: 700px;
				margin: 0 auto .75rem;
			}
		}
	}


	.arrow-down {
		position: absolute;
		bottom: 0%;
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
		height: 0; 
		border-left: 100px solid transparent;
		border-right: 100px solid transparent;
		border-top: 100px solid #fff;
	}

	.arrow-down {
		position: absolute;
		bottom: 0%;
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
		height: 0; 
		border-left: 100px solid transparent;
		border-right: 100px solid transparent;
		border-top: 100px solid #fff;
		z-index:12;
	}
	.arrow-down2 {
		position: absolute;
		bottom: 0%;
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
		height: 0; 
		border-left: 100px solid transparent;
		border-right: 100px solid transparent;
		border-top: 120px solid #aaa;
		z-index: 11;
	}
}