main#details{ 
  padding-top: 2.0rem .25rem;

  
  header.theme-header{
    background-color: $my-dark-purple
  }
  
    $med-sc-height: 30rem;
    $med-lg-sc-height:25rem;
    $lg-sc-height: 22rem;

  .row1{
    @include outer-container(100%);
    @include row(table);

    section{
         @include media($medium-screen){
            @include span-columns(4);
            height: $med-sc-height;
        }
    
      @include media(790px){
        height: $med-lg-sc-height;
      }

      @include media($large-screen){
          height: $lg-sc-height;
      }


      &:nth-of-type(2n){
        @include media($medium-screen) {
          @include span-columns(8);
          @include omega();
        }

      }
    }
  }
  
  .row2{
     @include outer-container(100%);
     @include fill-parent();
     @include row(table);
     @include omega();

  }

  .row3{
    @include outer-container(100%);
    @include row(table);

    section{
        @include media($medium-screen){
            @include span-columns(7);
            height: $med-sc-height;
        }
        
        @include media(790px){
          height: $med-lg-sc-height;
        }

        @include media($large-screen){
            height: $lg-sc-height;
        }

        &:nth-of-type(2n){
          @include media($medium-screen) {
            @include span-columns(5);
            @include omega();
          }
        }   
    }
  }


  section{
    color: $my-dark-purple;
    padding: 1.0rem;
    $sct-bd-width: 5px;

    h4{
      text-align: center;
      padding: 1rem;
      color: #fff;
      text-shadow: 1px 1px #555;
      font-weight: 200;
    }

    button{
      border: 1px $white-translucent solid;
    }
    

    &.modals {
      $section-color: $my-blue;
      background: #fff;
      border: $sct-bd-width solid $section-color;

      h4{
        background: $section-color;
        text-shadow: 1px 1px #555;
      }

      button{
        background-color: $my-dark-green;
      }

      .buttons-list{
        padding-right: .5rem;
        text-align: right;
        @include span-columns(6);
      }
      
      .description{
        border-left: 1px solid #fff;
        padding-left: .5rem;
        @include span-columns(6);
        @include omega();
      }
    }


    &.tabs {
        $section-color: $my-purple;
        background: #fff;
        border: $sct-bd-width solid $section-color;

        h4 {
          text-shadow: 1px 1px #555;
          background: $section-color;
        }

        button {
          background-color: $my-dark-blue;
        }

        .description {
          padding-right: .5rem;
          text-align: right;
          @include span-columns(6); 
        }

        .buttons-list {
          border-left: 1px solid #fff;
          padding-left: .5rem;
          text-align: left;
          @include span-columns(6);
          @include omega();
        }
        
        .tabs-module{
          $selected-tab-color: $my-light-blue;
          $tab-border-color: #333;
          $faded-border-color: rgba(100,100,100,.25);
          $border-width: 1px;
          
          ul{
            font-size: 0;
            border-bottom: $border-width solid $tab-border-color;
            li.tab{
              font-size: medium;
              display: inline-block;
              background: #eee;
              margin: 0;
              margin-bottom: -1px;
              padding: .75rem 1.5rem;
              border-radius: 5px 5px 0px 0px;
              border-top: $border-width solid  $faded-border-color;
              border-left: $border-width solid $faded-border-color;
              border-right: $border-width solid $faded-border-color;
              border-bottom: 1px solid $tab-border-color;
              cursor: pointer;

            
              &.selected-tab{
                margin-bottom: -1px;
                background: $selected-tab-color;
                border-top: $border-width solid  $tab-border-color;
                border-left: $border-width solid $tab-border-color;
                border-right: $border-width solid $tab-border-color;
                border-bottom: 1px solid $selected-tab-color;
              }

              &.inviso{
                text-align: right;
              }
            }
          }

          .tabs-content{
            padding: 1rem;  
            border-left: $border-width solid $tab-border-color;
            border-right: $border-width solid $tab-border-color;
            border-bottom: $border-width solid $tab-border-color;
            
            article {
              display: none;
              &.selected-article{
                display: block
              }
            }
          }

        }
    }

    &.content-slideshow {
        $section-color: $my-red;
        background: #fff;
        border: $sct-bd-width solid $section-color;
        
      h4 {
        background: $section-color;
        width: 100%;
      }
    }   
    
    &.collapsible{
      $section-color: $my-green;
      background: #fff;
      border: $sct-bd-width solid $section-color;
      
      h4 {
        background: $section-color;
        text-shadow: 1px 1px #555;
      }
    }

    &.tool-tips{
      $section-color: $my-orange;
      background: #fff;
      border: $sct-bd-width solid $section-color;

      
      h4 {
        background: $section-color;
        text-shadow: 1px 1px #555;
      }

      div.tip-box{
        position: relative;
        width: 100%;
        color: transparentize(#fff,0);

        span{
          display: block;
          position: absolute;
          background: $my-light-blue;
          color: #fff;
          font-size: 1.5rem;
          line-height: 3rem;
          padding: 0 1rem;

          
          &.top{
            top:0; left: 50%;
            transform: translateX(-50%);

          }
          &.right{
            top:50%; right: 0%;
            transform: translateY(-50%); 
          }
          &.bottom{
            bottom:0; left: 50%;
            transform: translateX(-50%);


          }
          &.left{
            top:50%; left: 0%;
            transform: translateY(-50%);

          }
        }
      }
    }   
  }
}

// -----------------------------
// -----------------------------
// -------- MODAL ------------
// -----------------------------
// -----------------------------

$mdl-bg-color: $my-green;
$mdl-font-color: #fff;
$mdl-txt-shadow: 1px 1px #555;


/*Necessary features*/
.mdl-context{
  opacity: 0;
  position: fixed;
  visibility: hidden;
  transition: all .5s;
  z-index: 2000;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);


    .mdl-window{
      padding: 1rem;
      background: $mdl-bg-color;
      color: $mdl-font-color;
      text-shadow: $mdl-txt-shadow;
      width: 400px;
      height: 300px;
      transition: all .5s;
      text-align: justify;


      .exit-modal{
          position: fixed;
          top: 2%;
          right: 2%;
          background: rgba(255,255,255,.76);
          color: $nav-red;
          border: black solid 1px;
          transform: translateX(2%) translateY(2%);
          padding: .5em .75em;

        &:hover{
          background: rgba(150,150,150,.9);
        }
      } 
    }
}

.mdl-overlay{
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;  
  background-color: rgba(100,100,100,.7);
  transition: all .4s;
}

.mdl-show {
  & ~ .mdl-overlay,
  &.mdl-context{
    visibility: visible;
    opacity: 1;
  }
}



.mdl-effect-slide-in{
  left: 0%;
  &.mdl-show{
    left:  50%;
  }
}

.mdl-effect-drop{
  top: 0%;
  &.mdl-show{
    top: 50%;
  }
}

.mdl-effect-flip{
  transform: translateX(-50%) translateY(-50%) rotateZ(90deg);

  &.mdl-show{
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg); 
  }
}

.mdl-effect-swing{
  transform: translateX(-50%) translateY(-50%) rotateX(120deg);

  &.mdl-show{
    transform: translateX(-50%) translateY(-50%) rotateX(0deg); 
  }
}

.mdl-effect-fall {
  perspective: 1300px;
  .mdl-window{ transform: translateZ(600px); }
  &.mdl-show >.mdl-window{ transform: translateZ(0px);}
}


// -----------------------------
// -----------------------------
// -------- Content Slider ------------
// -----------------------------
// -----------------------------


.content-slider {
  
  $my-slider-color: navy;
  $height-sm: 11rem;
  $height-lg: 15rem;
  color: $my-slider-color;
  
  background: #eee;
  border: 2px solid $my-slider-color;
  
  .line-up-blocks{
    font-size: 0;
    & > *{
      display: inline-block;
      font-size: medium;
      vertical-align: top;
    }
  }

  .top-slider-container{
    padding: .5rem .5rem .5rem .5rem;
    position: relative;
    width: 100%;  
    display: block;
    height: 11rem;
    overflow-y: scroll;
    overflow-x: hidden;

    @media screen and (min-width: 660px){
        height: 15rem;
    }

    .copy-area{
      position: relative;
      width: 100%;
        padding: 0;
      margin: 0;
      
        li {
          position: absolute;
          width: 100%; 
          display: block;
          left: -102%;
          top:0%;
          padding: .5rem;
          transition: all .6s;

            &.current-content{
              left: 0%;
            }

            &.after{
              left: 102%
            }
            
            h5{
              width: 100%;
              text-align: right;
              border-bottom: 2px solid $my-slider-color;
              display: block;
              margin-bottom: 0px;
              font-size: 1.33rem;
            }

            p {
              padding: .5rem;
              text-align: justify;
              @media screen and (min-width: 660px){
                width: 50%;
                
                &:first-of-type{
                  border-right: dashed 1px $my-slider-color;
                }
              }
            }
          }
      }
    }

    .bottom-slider-container{
      ul{
        border-top: 2px solid $my-slider-color;
        
        li.slide-btn{
          display: inline-block;
          padding: .5rem;
          width: 20%;
          margin: 0;
          text-align: center;
          cursor: pointer;


          &.current-slide{
            background: $my-light-green;
          }

          &:nth-child(1n+2){
            border-left: 2px solid $my-slider-color;
          }
             }
      }
    }
    
  }

.accordion {

  .toggle-content{
    font-size: 1.25em; 
    background: #eee;
    cursor: pointer;
    margin: 0;
    padding: .25rem;


  }

  .collapsible-content{
    display: none;
    background-color: $my-light-purple;
    padding: 1rem;
    color: #fff;
  }

 
}



// -----------------------------
// -----------------------------
// -------- Outer Slider ------------
// -----------------------------
// -----------------------------

.outer-tip{ 
  .tool-tip{
      $inner-color: $my-light-red;
      $border-color: #333;
      $arrow-size: 8px;
      $border-width: 3px;
      $font-color: #fff;

      font-size: 16px;
      line-height: 1em;
      position: absolute;
      padding: 1rem;
      margin: 0;
      border: $border-width #333 solid;
      background: $inner-color;
      color: $font-color;
      width: 10rem;
      display: none;



        &:after, &:before {
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(0,0,0,0);
        }
 
        &:after{
          border-width: $arrow-size;
        }

        &:before{
          border-width: $arrow-size + $border-width + 1px;

        }
        
        // Styles for tooltip that hovers below with arrow on TOP


        &.top-arrow{
           top:102%;
          left: -110%;
        }
        
        &.top-arrow:after {
          border-bottom-color: $inner-color;
          margin-left: -($arrow-size);
        }
        &.top-arrow:before {
          border-bottom-color: $border-color;
          margin-left: -($arrow-size) - $border-width - 1px;
        }
        
        &.top-arrow:after, 
        &.top-arrow:before {
          bottom: 100%;
          left: 50%;
        }

        // Styles for tooltip that hovers above with arrow on BOTTOM: ;

        &.bottom-arrow{
           bottom:102%;
            left: -110%;
        }

        &.bottom-arrow:after {
          border-top-color: $inner-color;
          margin-left: -($arrow-size);
        }
        &.bottom-arrow:before {
          border-top-color: $border-color;
          margin-left: -($arrow-size) - $border-width - 1px;
        }

        &.bottom-arrow:after, 
        &.bottom-arrow:before {
          top: 100%;
          left: 50%;
        }
        
        // Styles for tooltip that hovers to the right w/ the  arrow on the LEFT: ;

        &.left-arrow{
           left: 105%;
           top: -20%;
        }

        &.left-arrow:after {
          border-right-color: $inner-color;
          margin-top: -($arrow-size);
        }
        &.left-arrow:before {
          border-right-color: $border-color;
          margin-top: -($arrow-size) - $border-width - 1px;
        }

        &.left-arrow:after, 
        &.left-arrow:before {
          top: 50%;
          right: 100%;
        }

        //
        
        &.right-arrow{
           right:105%;
           top: -20%;
        }

        &.right-arrow:after {
          border-left-color: $inner-color;
          margin-top: -($arrow-size);
        }
        &.right-arrow:before {
          border-left-color: $border-color;
          margin-top: -($arrow-size) - $border-width - 1px;
        }


        &.right-arrow:after, 
        &.right-arrow:before {
          top: 50%;
          left: 100%;
        }

        


      }

  &:hover{
    .tool-tip {
      display: block;
    }
  }
}

