main#forms-tables{ 
	padding-top: 2.0rem .25rem;

	header.theme-header{
  	  background-color: $my-dark-green
  	}

  	section{
    color: white;
    padding: 1.0rem .25rem;
    height: 50vh;
   	$sct-bd-width: 5px;

    @include row(table);
    @include media($medium-screen){
        @include span-columns(6);

    }
    
    h3{
      text-align: center;
      padding: 1rem;
      font-weight: 200;
    }

    p{
      color: #333;
      padding: .5rem;
    }

    button{
      border: 1px $white-translucent solid;
    }
	

    &.form-abb{
    	$sct-color: $my-green;
      background: #fff;
      border: $sct-color $sct-bd-width solid;
	      h3{
	        background: $sct-color;
	        @include row()
	      }
	
		.form-btn{
			display: block;
	      	margin: 0 auto;
	      	background: $my-light-green;
	      }
     }

     	
    &.table-abb{
      border: $my-blue $sct-bd-width solid;
      background: #fff;

      h3{
        background: $my-blue;
        text-shadow: 1px 1px #555;

      }
      
      button{
        display: block;
        background-color: $my-light-blue;
        color: white;
        padding: 1.0rem .75rem;
        cursor: pointer;
        font-weight: 600;
        margin: .5rem auto;
      }
    }

  }


}

.form{
	display:none;

	margin:  auto ;
	background: $my-dark-green;
	opacity: 0;
	transition: all .3s;

	&.show{
		display: block;
		opacity:1;
	}
	
	// clearfix
	&:after{
		display: table;
		content:"";
		clear: both;
	}

	.heading{
		text-align: center;
		color: #fff;
		margin: 0;
		padding: 1rem;
	}

	hr{
		width: 50%;
		margin: auto;
	}


	.col{
		padding: 1% 8%;
	
	}
	form > label {
		display: block;
		margin-top: 1.5em;
		color: #fff;
	}

	form > input,
	form > textarea,
	form > select
	{
		display: block;
		width: 100%;
		padding: 3%;
		border: 2px solid #fff;
		background: rgba(0,100,150,0.0);
		color: white;

		}

		form > input:hover,
		form > textarea:hover,
		form > select:hover{
		border: 2px solid #999;
		}

		form > input:focus,
		form > textarea:focus,
		form > select:focus {
			border: 2px solid rgba(40,160,210,1.0);;
			box-shadow: 0px 0px 0px;
			outline: 0px;
		}
		
	form > select
	{
		border: solid 2px #777;
		padding: 15px;
		border-radius: 0px;
	}
		

	form > textarea {
		height: 120px;
		resize: none;
	}

	@media screen and (min-width: 700px) {
		/*3 left floating columns*/
		.col{
		float: left;
		width: 33%;
		padding: 1% 2%;
		}
		
	}
}

.table{	
	display: none;
	&.show{
			display: block;
		}

	table{
	/*Default Styles*/
	  border-collapse: collapse;
	  margin: .75em 0;
	  table-layout: fixed;
	  width: 100%;
		
		tr, td, th {
		  vertical-align: middle;
		}

		th, td {
		  padding: .75em 0;
		  &:first-child{
		  	padding-left: .5rem;
		  }
		}

		td {
		  border-bottom: 1px solid #ddd;
		}

	/*My Styles*/
		$thead-bg-color: $my-dark-blue;
		$thead-border-color: #b7b7b7;
		$thead-font-color: #fff;

		thead{
			background: $thead-bg-color;
			color: $thead-font-color;
		}

		tbody{
		$even-row-bg-color: #efefef;
		$odd-row-bg-color: #dcdcdc;
			tr{
				background: $odd-row-bg-color;
				&:nth-of-type(even){
					background: $even-row-bg-color;
				}
			}
		}
	

	}

	

}

@media screen and (max-width: 550px){
	.table{
		display: none;

		table {
			position: relative;
		
			th,td{
				border: 0px solid white;
				padding: .25rem .25rem;
				display: block;

			}

			thead{

				$uniqID-thead-border: #dfdfdf;
				th {
					width: 100%;
					padding-left: 1.0rem;
					&:first-child{
						border-bottom: 1px solid $uniqID-thead-border;
						padding-left: .75rem;
					}
				}

			}

			tbody{
				$uniqID-tbody-border: #898989;
				td{
					width: 100%;
					padding-left: 1.25rem;
					&:first-child{
						border-bottom: 1px solid $uniqID-tbody-border;
						padding-left: 1.0rem;
						font-weight: 700;

					}
				}
			}
		}
	}
}

.form, .table{
	p.responsive{
		background: #fff;
	    text-align: center;
	    font-size: 1.333em;
	    color: $my-orange;
	    margin: 0;
	    padding: .5rem;
	  }

}