.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'https:raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      small{
        display: block;
        text-align: right;
      }

      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

    button {
      @include button(flat, $action-color);
      padding: 0.7em 1em;
    }
  }


}

.flex-boxes {
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;
  $flex-box-color: transparentize($base-font-color, 0.3);
  $flex-box-top-colors: 
    tomato, 
    #72BFBF, 
    #92B1E3, 
    #E3D743,
    #CCC,
    #F6C05C;

    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: center;

  .flex-box {
    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    background: $flex-box-background;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;

    @for $i from 1 to 7 { 
  // assign colors from $flex-box-top-colors list
        &:nth-child(#{$i}) {
          $color-from-list: nth($flex-box-top-colors, $i);
          border-top: 6px solid $color-from-list;
          
          &:focus,
          &:hover {
            background-color: transparentize($color-from-list, 0.9);
          }
        }
      }

      img {
        display: block;
        height: 3em;
        margin-bottom: 2em;
        margin: auto;
        opacity: 0.4;
      }

      .flex-title {
        color: $flex-box-color;
        font-size: 1.2em;
        font-weight: 800;
        margin-bottom: 0.5em;
      }

      p {
        color: transparentize($flex-box-color, 0.1);
        line-height: 1.5em;
        margin: auto;
      }
    }

    .flex-box-big {
      @include flex(1 1 40em);
    }
}

