main#wrapper-m-and-m{ 
  @include outer-container(100%);
    
  header.theme-header{
    background-color: $my-dark-blue;
  }


  section{
    color: white;
    padding: 1.0rem .25rem;
    height: 100vh;
    
    $sct-bd-width: 5px;

    @include row(table);
    @include media($medium-screen){
        @include span-columns(6);

    }
    
    h3{
      text-align: center;
      padding: 1rem;
      font-weight: 200;
    }

    li{
      display: inline-block;
      margin: .3rem;
    }

    p{
      color: #333;
    }

    button{
      border: 1px $white-translucent solid;
    }

    &.navigation-menus{
      background: #fff;
      border: $my-blue $sct-bd-width solid;
      h3{
        background: $my-blue;
        @include row()
      }

      .description{
        padding-right: .5rem;
        text-align: right;
        @include span-columns(6); 
      } 

      .buttons-list{
        border-left: 1px solid #333;
        padding-left: .5rem;
        text-align: left;
        @include span-columns(6);
           button{
            background-color: $my-red;
            }

            button[data-menuType='push-menu']{
              background-color: $my-purple;
            }

            button.menu-btn-scroll{
              background-color: $my-yellow;
            }

            button.menu-btn-icon-panel{
                background: $my-orange;
            }

            button.menu-btn-icon-panel{
                background: $my-green;
            }



      }
    }

    &.dropdown-menus{
      border: $my-light-blue $sct-bd-width solid;
      background: #fff;

      h3{
        background: $my-light-blue;
        text-shadow: 1px 1px #555;

      }

      button{
        background-color: $my-dark-green;
      }

      .buttons-list{
        padding-right: .5rem;
        text-align: right;
        @include span-columns(6);

        button{text-align: right;}
      }
      
      .description{
        border-left: 1px solid #333;
        padding-left: .5rem;
        @include span-columns(6); 
      }
    }
  }
}

aside{
  background: $my-light-yellow;
  display:none
}

//Universal Overlay
.nav-screen-overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  opacity: 0;
  background: rgba(100,100,100,.80);
  transition: all .3s;

  &.show{
    z-index: 1000;
    opacity: 1.0;
  }
}

//-----------------
// Side-Menu Popout
//-----------------
nav.side-menu{
  color: #fff;
  position: fixed;
  top: 0%;
  left: -100%;
  
  height: 100%;
  width: 250px;
  background: transparentize($my-red,.2);
  transition: all .3s;
  z-index: 1230;
  transition: all .3s;

  &.extended{
    left: 0%;
  } 

  h3 {
    padding: 1rem;
  }

  hr {
    margin: 0 auto;
    width: 80%;
 }

  li{
    padding: .75rem 1.25rem;
    font-weight: 600;
    transition: all .1s;

    &:hover{
      border-left: 6px solid #eee;
      cursor: pointer;
    }
  }

  .sub-list{
    display:none
  }

  .sub-menu:hover > .sub-list{
    display: block
  }
}

//-----------------
// Top-Menu Popout
//-----------------
nav.top-menu{
  
  $backgroundColor: transparentize($my-red,.2);
  color: #fff;
  position: fixed;
  top: -100%;
  left: 0%;
  
  height: 150px;
  width: 100%;
  background: $backgroundColor;
  transition: all .3s;
  z-index: 1230;
  transition: all .3s;

  &.extended{
    top: 0%;
  } 

  h3 {
    padding: 1rem;
  }

  hr {
    margin: 0 auto;
    width: 80%;
  }

  ul.main-menu{
    font-size: 0;

    li{
    font-size: medium;

    padding: .75rem .5rem;
    display: inline-block;
    width: 25%;
    text-align: center;
    font-weight: 600;
    transition: all .1s;



      &.sub-menu{
        position: relative;
      }

      &:hover{
        border-bottom: 6px solid #eee;
        cursor: pointer;
      }
    }
  }  

  ul.sub-list{
    display:none;
    position: absolute;
    top:101%;
    left: 0;
    background: $backgroundColor;
    width: 100%;

    li {
      display: block;
      width: 100%;
      text-align: left;
      &:hover{
        border-left: 6px solid #eee;
        border-bottom: none;
      }
    }

  }

  .sub-menu:hover > .sub-list{
    display: block
  }
}

//-----------------
// Push-menuPopout
//-----------------
body.push-menu{
  right: 250px;
}


nav.push-menu{
  color: #fff;
  position: fixed;
  top: 0;
  right: -250px;
  
  height: 100%;
  width: 250px;
  background: transparentize($my-purple,.2);
  z-index: 1230;
  transition: all .3s;

  &.extended{
    right: 0px;
  } 

  h3 {
    padding: 1rem;
  }

  hr {
    margin: 0 auto;
    width: 80%;
 }

  li{
    padding: .75rem .5rem;
    font-weight: 600;
    transition: all .1s;

    &:hover{
      border-left: 6px solid #eee;
      cursor: pointer;
    }
  }

  .sub-list{
    display:none
  }

  .sub-menu:hover > .sub-list{
    display: block
  }
}

//-------------
// Nav-page popout
//-------------
nav.scroll-menu{
    $background-color: $my-yellow;

    position: fixed;
    top: 0%;
    right: -100%;
    width: 150px;
    height: 150px;
    transition: all .45s;

    h5{
      margin-bottom: 0;
      color: #fff;
      padding: .25rem .5rem;
      background: #333; 

    }
    
    &.extended{
      right: 0;
    }
    
    ul{
      background: $background-color; 

      li{
        padding: 0 1.0rem;
        a {
          display: block;
          color: #fff;    
          &:hover{
            color: $my-light-blue;
            background: #eee;
          }
        }
      }
    }

    .close-scroll{
      border: 2px solid rgba(50,50,50,.8);
      display: table-cell;
      width: .5rem;
      padding: .5rem;
      background: #eee;
      text-align: center;
      vertical-align: center;
      cursor: pointer;

      &:hover{
        color: white;
        background: #932;
      }
    }
}

//-------------
// Nav-page popoutk
//-------------
nav.icon-panel{
  $borderColor: #fff;
  $pullDown: $my-green;
  $dominantBg: #999;
  $fontColor: #fff;

  position: fixed;
  top: -195px;
  left: 0;
  width: 50px;
  height: 300px;

  color: $fontColor;
  font-size: 2.0rem;

  transition: all .3s;

  &.extended{
    top: 0px;
  }
 
  ul.icon-menu{
    margin: 0;
    text-align: center;
    background: $dominantBg;
    border: 2px solid $borderColor;

    li:hover{
      cursor: pointer;
      color: transparentize($fontColor,.5);
    }

  }

  span.pull-tab{
    display: block; 
    text-align: center;
    border-top: 2px $borderColor solid;
    line-height: 40px;
    
    background: $pullDown;
    border-left: 2px solid $borderColor;
    border-right: 2px solid $borderColor;
    border-bottom: 2px solid $borderColor;

    border-radius: 0px 0px 20px 20px;
    
    cursor: pointer;
    transition: all .3s;
  }
  span.pull-tab:hover {
      background: $my-light-green;
    }  
}