
main#wrapper-m-and-m{ 
  background: $my-light-blue;
  @include outer-container(100%);
    
  header.theme-header{
    background-color: $my-dark-blue;
  }


  section{
    color: white;
    padding: 1.0rem .25rem;
    height: 100vh;
    
    $sct-bd-width: 5px;

    @include row(table);
    @include media($medium-screen){
        @include span-columns(6);

    }
    
    h3{
      text-align: center;
      padding: 1rem;
    }

    li{
      display: inline-block;
      margin: .3rem;
    }

    p{
      color: #333;
    }

    button{
      border: 1px $white-translucent solid;
    }

    &.navigation-menus{
      background: #fff;
      border: $my-blue $sct-bd-width solid;
      h3{
        background: $my-blue;
        @include row()
      }

      button{
        background-color: $my-red;
      }

      .description{
        padding-right: .5rem;
        text-align: right;
        @include span-columns(6); 
      } 

      .buttons-list{
        border-left: 1px solid #333;
        padding-left: .5rem;
        text-align: left;
        @include span-columns(6);
      }
    }

    &.dropdown-menus{
      border: $my-light-blue $sct-bd-width solid;
      background: #fff;

      h3{
        background: $my-light-blue;
        text-shadow: 1px 1px #555;
      }

      button{
        background-color: $my-dark-green;
      }

      .buttons-list{
        padding-right: .5rem;
        text-align: right;
        @include span-columns(6);

        button{text-align: right;}
      }
      
      .description{
        border-left: 1px solid #333;
        padding-left: .5rem;
        @include span-columns(6); 
      }
    }
  }
}


//Universal Overlay
.nav-screen-overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  opacity: 0;
  background: rgba(100,100,100,.80);
  transition: all .3s;

  &.show{
    z-index: 1000;
    opacity: 1.0;
  }
}

//-----------------
// Side-Menu Popout
//-----------------
nav.side-menu{
  color: #fff;
  position: fixed;
  top: 0%;
  left: -100%;
  
  height: 100%;
  width: 250px;
  background: transparentize($my-red,.2);
  transition: all .3s;
  z-index: 1230;
  transition: all .3s;

  &.extended{
    left: 0%;
  } 

  h3 {
    padding: 1rem;
  }

  hr {
    margin: 0 auto;
    width: 80%;
 }

  li{
    padding: .75rem .5rem;
    font-weight: 600;
    transition: all .1s;

    &:hover{
      border-left: 6px solid #eee;
      cursor: pointer;
    }
  }

  .sub-list{
    display:none
  }

  .sub-menu:hover > .sub-list{
    display: block
  }
}

//-----------------
// Top-Menu Popout
//-----------------
nav.top-menu{
  
  $backgroundColor: transparentize($my-red,.2);
  color: #fff;
  position: fixed;
  top: -100%;
  left: 0%;
  
  height: 150px;
  width: 100%;
  background: $backgroundColor;
  transition: all .3s;
  z-index: 1230;
  transition: all .3s;

  &.extended{
    top: 0%;
  } 

  h3 {
    padding: 1rem;
  }

  hr {
    margin: 0 auto;
    width: 80%;
  }

  ul.main-menu{
    font-size: 0;

    li{
    font-size: medium;

    padding: .75rem .5rem;
    display: inline-block;
    width: 25%;
    text-align: center;
    font-weight: 600;
    transition: all .1s;



      &.sub-menu{
        position: relative;
      }

      &:hover{
        border-bottom: 6px solid #eee;
        cursor: pointer;
      }
    }
  }  

  ul.sub-list{
    display:none;
    position: absolute;
    top:101%;
    left: 0;
    background: $backgroundColor;
    width: 100%;

    li {
      display: block;
      width: 100%;
      text-align: left;
      &:hover{
        border-left: 6px solid #eee;
        border-bottom: none;
      }
    }

  }

  .sub-menu:hover > .sub-list{
    display: block
  }
}

//-----------------
// Top-Menu Popout
//-----------------
