$nav-blue: rgba(118,156,184,1);
$nav-blue-translucent: rgba(98,116,154,.9);
$nav-red: rgba(197,107,106,1);
$nav-purple: rgba(164,122,184,1);
$nav-green: rgba(122,207,151,1);
$nav-light: rgba(213,214,184,1);

$page-colors: 
	#ccc,
	#aaa,
	#888,
	#ccc;	

.click-me{
	position: fixed;
	top: 0;
	right: 0;

	button {
		background: $nav-green;
		transition: background .5s;
		&.popped{
			background: $nav-red;
		}

		&:hover{
			background: $nav-purple;
		}
	}


}

nav{
	&.cbp-spmenu-top{
		position: fixed;
		background: $nav-blue-translucent;
		width: 100%;
		height: 23rem;
		top: -23rem;
		transition: top .4s, height .3s;

		@include outer-container(100%);	
		@include display-context(table); 
		
		@include media($large-screen){
			height: 7.5rem;
			top: -7.5rem;
		}
	}
	
	&.cbp-spmenu-top.pop-out{
		top: 0rem;
	}

	& > h3 {
		font-size: 2.6em;
		margin: 0;
		text-align: center;
		font-family: 'Noto Sans','Helvetica Neue',Helvetica,sans-serif;
		color: #eee;
		@include row();		
	}
	
	.nav-options{
		@include span-columns(12);
		@include display-context(table); 

		a {
			text-align: center;
			line-height: 4rem;
			color: #eee;
			font-weight: 700;
			transition: background .2s;
			vertical-align: top;
			text-align: center;

			&:hover{
			background: $nav-light;
			border-bottom: 2px solid #333;
			color: #333;
			}

			@include span-columns(12 of 12);
			@include media($large-screen){
				$columns: (12 / 5);
				@include span-columns($columns of 12);
			}
		}	
	}
}

main#nav-examples{
	.hero {  
	  $base-border-radius: 3px !default;
	  $action-color: #477DCA !default;
	  $large-screen: em(860) !default;
	  $hero-background-top: #7F99BE; 
	  $hero-background-bottom: #20392B;
	  $hero-color: white;
	  $gradient-angle: 10deg;
	  $hero-image: '../images/js-multi.jpg';

	  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
	  background-color: #324766;
	  background-position: top;
	  background-repeat: no-repeat;
	  background-size: cover;
	  padding-bottom: 3em;


	  .hero-inner {
	    @include outer-container;
	    @include clearfix;
	    color: $hero-color;
	    margin: auto;
	    padding: 3.5em;
	    text-align: center;

	    .hero-copy {
	      text-align: center;
	      background: rgba(55,55,55,.8);
	      border-radius: 10px;

	      h1 {
	        font-size: 2.0em;
	        margin-bottom: 0.5em;
	        font-family: 'Courier',monospace;

	        @include media($large-screen) {
	          font-size: 3.6em;
	        }
	      }

	      p {
	      	text-align: right;
	        font-weight: 700;
	        line-height: 1.4em;
	        margin: 0 auto 3em auto; 

	        @include media($large-screen) {
	          font-size: 1.1em;
	          max-width: 80%;
	        }
	      }
	    }

	    button {
	      @include button(flat, $action-color);
	      padding: 0.7em 1em;
	    }
	  }
	}


	article {
		padding: 0 1%;

	//stops iterates 1,2,3
		@for $i from 2 to 5{
			&:nth-child(#{$i}){background: nth($page-colors, $i);}
		}

		hr{
			margin: 1.5em auto;
		}

		.showpiece{
			margin: 0 auto;
			text-align: center;

			img{
				display: inline-block;
				width: 8rem;
				border: 1px solid black;	
				

				@include media($medium-screen) {
	        	width: 16rem;  
       			}
				@include media($large-screen) {
	        	width: 20rem;  
       			}
			}

			
		}

	}

	
}