$nav-blue: rgba(39,67,96,1);
$nav-blue-translucent: rgba(39,67,96,.9);
$nav-red: rgba(197,107,106,1);
$nav-purple: rgba(112,47,85,1);
$nav-green: rgba(1,195,102,1);
$nav-light: rgba(241,143,53,1);
$nav-dark: rgba(23,24,72,1);
$nav-dark-translucent: rgba(23,24,72,.7);





$page-colors: 
	rgba(182,175,217,1),
	rgba(176,145,140,1),
	rgba(207,170,140,1),
	rgba(201,198,169,1),
	rgba(197,116,99,1);

.click-me{
	position: fixed;
	top: 0;
	right: 0;

	button {
		background: $nav-green;
		transition: background .5s;
		&.popped{
			background: $nav-red;
		}

		&:hover{
			background: $nav-purple;
		}
	}


}

nav{
	&.cbp-spmenu-top{
		position: fixed;
		background: $nav-blue-translucent;
		width: 100%;
		height: 23rem;
		top: -23rem;
		transition: top .4s, height .3s;

		@include outer-container(100%);	
		@include display-context(table); 
		
		@include media($large-screen){
			height: 7.5rem;
			top: -7.5rem;
		}
	}
	
	&.cbp-spmenu-top.pop-out{
		top: 0rem;
	}

	& > h3 {
		font-size: 2.6em;
		margin: 0;
		text-align: center;
		font-family: 'Noto Sans','Helvetica Neue',Helvetica,sans-serif;
		color: #eee;
		@include row();		
	}
	
	.nav-options{
		@include span-columns(12);
		@include display-context(table); 

		a {
			text-align: center;
			line-height: 4rem;
			color: #eee;
			font-weight: 700;
			transition: background .2s;
			vertical-align: top;
			text-align: center;

			&:hover{
			background: $nav-light;
			border-bottom: 2px solid #333;
			color: #333;
			}

			@include span-columns(12 of 12);
			@include media($large-screen){
				$columns: (12 / 5);
				@include span-columns($columns of 12);
			}
		}	
	}
}


.md-overlay{
	visibility: hidden;
	opacity: 0;

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $nav-dark-translucent;
	z-index: 1000;
	transition: all .3s;	
}

.md-modal{
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 1100;
	top: 50%;
	left: 50%;


	perspective: 1300px;
	transform: translateX(-50%) translateY(-50%);

	.md-content{
		background: $nav-green;
		color: white;
		text-shadow: 1px 1px 1px #333;
		padding: 5%;
		width: 400px;
		height: 300px;


		transform: translateZ(600px) rotate(20deg);
		transition: all .5s;

		.exit-modal{
			position: fixed;
			top: 5%;
			right: 5%;
			background: rgba(255,255,255,.76);
			color: $nav-red;
			border: black solid 1px;
			transform: translateX(5%) translateY(5%);

			&:hover{
				background: rgba(150,150,150,.9);
			}

		}	
	}
}

.md-show {
	&~.md-overlay,
	&.md-modal{
		visibility: visible;
		opacity: 1;
	}

	& >.md-content{
		transform: translateZ(0px) rotate(0deg);
	}
}

main#nav-examples{

	.hero {  
	  $base-border-radius: 3px !default;
	  $action-color: #477DCA !default;
	  $large-screen: em(860) !default;
	  $hero-background-top: #7F99BE; 
	  $hero-background-bottom: #20392B;
	  $hero-color: white;
	  $gradient-angle: 10deg;
	  $hero-image: '../images/js-multi.jpg';

	  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
	  background-color: #324766;
	  background-position: top;
	  background-repeat: no-repeat;
	  background-size: cover;
	  padding-bottom: 3em;


	  .hero-inner {
	    @include outer-container;
	    @include clearfix;
	    color: $hero-color;
	    margin: auto;
	    padding: 3.5em;
	    text-align: center;

	    .hero-copy {
	      text-align: center;
	      background: $nav-dark-translucent;
	      border-radius: 10px;
	      padding: 1% 0;

	      h1 {
	        font-size: 2.0em;
	        margin-bottom: 0.5em;
	        font-family: 'Courier',monospace;

	        @include media($large-screen) {
	          font-size: 3.6em;
	        }
	      }

	      p {
	      	text-align: right;
	        font-weight: 700;
	        line-height: 1.4em;
	        margin: 0 auto 1em auto;
	      	font-size: .90em;


	        @include media($large-screen) {
	          font-size: 1.1em;
	          max-width: 80%;
	        }
	      }
	    }

	    button {
	      @include button(flat, $action-color);
	      padding: 0.7em 1em;
	      margin: 1em 0;
	    }
	  }
	}


	section {
		padding: 0 1%;
	//stops iterates 1,2,3
		@for $i from 2 to 6{
			&:nth-child(#{$i}){background: nth($page-colors, $i);}
		}
		
		article{
			@include outer-container(800px);

			hr{
				margin: 1.5em auto;
			}

			.showpiece{
				margin: 0 auto;
				text-align: center;

				img{
					display: inline-block;
					width: 12rem;
					border: 1px solid black;	
					

					@include media($medium-screen) {
		        	width: 16rem;  
	       			}
					@include media($large-screen) {
		        	width: 20rem;  
	       			}
				}
			}

			.code-block{
				background: rgb(224,224,224);
				font-family: monospace;
				margin: 0 auto;
				width: rem(300);
				padding: 1%;
			}
		}
	}
}