<main id="details">
    <header class="theme-header">
        <h1>Content Display</h1>
        <p>some mini-widgets I've built for basic u/i components</p>
    </header>
    <div class="row1">
        <section class='modals'>
            <h4>Modal Windows</h4>
            <div class='description'>
                <p>Avoid the javascript <code>alert()</code> and notify your users gracefully and appropriately with the right notification.</p>
            </div>
            <div class='buttons-list'>
                <ul>
                    <li>
                        <button class="modal-btn" data-effect="mdl-effect-slide-in">Slide-In</button>
                    </li>
                    <li>
                        <button class="modal-btn" data-effect="mdl-effect-drop">Drop</button>
                    </li>
                    <li>
                        <button class="modal-btn" data-effect="mdl-effect-flip">Flip</button>
                    </li>
                    <li>
                        <button class="modal-btn" data-effect="mdl-effect-swing">Swing</button>
                    </li>
                    <li>
                        <button class="modal-btn" data-effect="mdl-effect-fall">Skyfall</button>
                    </li>
                </ul>
            </div>
        </section>
        <section class="tabs">
            <h4>Tabs</h4>
            <div class="tabs-module">
                <nav class="tabs-buttons">
                    <ul>
                        <li class="tab selected-tab">Tab1</li>
                        <li class="tab">Tab2</li>
                        <li class="tab">Tab3</li>
                    </ul>
                </nav>
                <div class="tabs-content">
                    <article class="selected-article">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam optio officiis reiciendis tempore, reprehenderit quo. Repellat dolores doloremque inventore repellendus quisquam qui aperiam, architecto dolorem sed eligendi! Cum sit eaque rerum! Autem officiis est, facere sequi minima temporibus. Maiores beatae dolor corporis, esse possimus.</p>
                    </article>
                    <article>
                        <p>This could be great.</p>
                    </article>
                    <article>
                        <p>And under door #3? More content.</p>
                    </article>
                </div>
            </div>
        </section>
    </div>
    <div class="row2">
        <section class='content-slideshow'>
            <h4>Content Slider</h4>
            <div>
                <p>Showing content in bite-sized chunks with a content slider.</p>
            </div>
            <div class="content-slider">
                    
                    <div class="top-slider-container">
                        <ul class="copy-area">
                            <li class="content-slide line-up-blocks current-content">
                                <h5><i class="fa fa-user-secret fa-2x"></i></h5>
                                <p>FIRST FIRST ipsum dolor sit amet, consectetur adipisicing elit. Cum quae molestiae iusto autem doloribus, libero, voluptates rerum illo ex porro nobis, minus optio repellendus modi eos maxime eius.</p>
                                <p>autem doloribus, libero, vooribus, libero, voluptates rerum illo ex porro nobis, minus optio repeluptates rerum illo ex porro nobis, minus optio repellendus modi eos maxime eius.</p>
                            </li>
                            <li class="line-up-blocks content-slide after">
                                <h5><i class="fa fa-car fa-2x"></i></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quae molestiae iusto autem doloribus, libero, voluptates rerum illo ex porro nobis, minus optio repellendus modi eos maxime eius.</p>
                                <p>autem doloribus, libero, vooribus, libero, voluptates rerum illo ex porro nobis, minus optio repeluptates rerum illo ex porro nobis, minus optio repellendus modi eos maxime eius.</p>
                            </li>
                           	<li class="line-up-blocks content-slide after">
                                <h5><i class="fa fa-scissors fa-2x"></i></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quae molestiae iusto autem doloribus, libero, voluptates rerum illo ex porro nobis, minus optio repellendus modi eos maxime eius.</p>
                                <p>autem doloribus, libero, vooribus, libero, voluptates rerum illo ex porro nobis, minus optio repeluptates rerum illo ex porro nobis, minus optio repellendus modi eos maxime eius.</p>
                            </li>
                            <li class="line-up-blocks content-slide after">
                                <h5><i class="fa fa-bicycle fa-2x"></i></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quae molestiae iusto autem doloribus, libero, voluptates rerum illo ex porro nobis, minus optio repellendus modi eos maxime eius.</p>
                                <p>autem doloribus, libero, vooribus, libero, voluptates rerum illo ex porro nobis, minus optio repeluptates rerum illo ex porro nobis, minus optio repellendus modi eos maxime eius.</p>
                            </li>
                            <li class="line-up-blocks content-slide after">
                                <h5><i class="fa fa-chain-broken fa-2x"></i></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quae molestiae iusto autem doloribus, libero, voluptates rerum illo ex porro nobis, minus optio repellendus modi eos maxime eius.</p>
                                <p>autem doloribus, libero, vooribus, libero, voluptates rerum illo ex porro nobis, minus optio repeluptates rerum illo ex porro nobis, minus optio repellendus modi eos maxime eius.</p>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="bottom-slider-container">
                        <ul class="line-up-blocks">
                            <li class="slide-btn current-slide"><i class="fa fa-user-secret fa-2x"></i></li>
                            <li class="slide-btn"><i class="fa fa-car fa-2x"></i></li>
                            <li class="slide-btn"><i class="fa fa-scissors fa-2x"></i></li>
                            <li class="slide-btn"><i class="fa fa-bicycle fa-2x"></i></li>
                            <li class="slide-btn"><i class="fa fa-chain-broken fa-2x"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="row3">
        <section class="collapsible">
            <h4>Accordion</h4>
            <p> Showing and hiding content with these expandable | collapsible components.</p>
			
			<ul>
				<li class="accordion">
					<h5 class="toggle-content"><span>+</span>&nbspDrop me.</h5>
					<p class="collapsible-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam voluptatem quae est quo deo deserunt at aliquam doloribus sint quam voluptas perspiciatis, quis maiores facere delectus dolorem! Nesciunt quod voluptate, dicta molestiae eligen sam, animi tempore. Laborum nihil nostrum nam. Officia, eaque illum porro eveniet dolores.aliquam eum debitis molestiae nostrum delectus praesentium omnis ad, odio, id, vitae impedit quidem ducimus quos numquam libero natus.</p>
				</li>
			</ul>

        </section>
        <section class='tool-tips'>
            <h4>Tool-tips</h4>
            <div class="tip-box">
				

		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perferendis aspernatur, aut non similique amet dolor cumque est, deserunt odit tenetur dicta dolorem nam inventore rem voluptatem provident enim ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi maxime corporis assumenda eligendi consequatur voluptatibus reprehenderit labore delectus, sapiente asperiores modi hic quisquam suscipit dolor sint a voluptatem. Laborum blanditiis id sapiente quam. </p>
            	
                <span class="top outer-tip">
                	+
					<div class="tool-tip top-arrow">This tooltip appears at the bottom</div>
                </span>
                <span class="right outer-tip">
                	+
                	<div class="tool-tip right-arrow">
                		This tooltip is off to the left.
                	</div>
                </span>
                <span class="bottom outer-tip">
                	+
					<div class="tool-tip bottom-arrow">
						This tooltip appears above!
					</div>
                </span>
                <span class="left outer-tip">
                	+
                	<div class="tool-tip left-arrow">
						This tooltip is off to the right.
					</div>
                </span>
               
            </div>

           
        </section>
    </div>
</main>
<!-- Modal Windows & Effects -->
<div class="mdl-context mdl-effect-slide-in">
    <div class="mdl-window">
        <h5>Hellow</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati tenetur, dolor dolore? Vitae ex sequi voluptatum voluptatibus nostrum quas eos doloribus fugiat quibusdam iure!</p>
        <button class="exit-modal">X</button>
    </div>
</div>
<div class="mdl-context mdl-effect-drop">
    <div class="mdl-window">
        <h5>Hellow</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati tenetur, dolor dolore? Vitae ex sequi voluptatum voluptatibus nostrum quas eos doloribus fugiat quibusdam iure!</p>
        <button class="exit-modal">X</button>
    </div>
</div>
<div class="mdl-context mdl-effect-flip">
    <div class="mdl-window">
        <h5>Hellow</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati tenetur, dolor dolore? Vitae ex sequi voluptatum voluptatibus nostrum quas eos doloribus fugiat quibusdam iure!</p>
        <button class="exit-modal">X</button>
    </div>
</div>
<div class="mdl-context mdl-effect-swing">
    <div class="mdl-window">
        <h5>Hellow</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati tenetur, dolor dolore? Vitae ex sequi voluptatum voluptatibus nostrum quas eos doloribus fugiat quibusdam iure!</p>
        <button class="exit-modal">X</button>
    </div>
</div>
<div class="mdl-context mdl-effect-fall">
    <div class="mdl-window">
        <h5>Hellow</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati tenetur, dolor dolore? Vitae ex sequi voluptatum voluptatibus nostrum quas eos doloribus fugiat quibusdam iure!</p>
        <button class="exit-modal">X</button>
    </div>
</div>
<div class="mdl-overlay">
</div>
