<main id="forms-tables">
	<header class="theme-header">
	      <h1>Responsive Forms &amp; Tables</h1>
	      <p>Forms and tables are boring but they shouldn't be difficult to deal with</p>
	</header>
	<section class="form-abb">
		<h3>Responsive Form</h3>
		<div>
			<p> This form is responsive and user friendly. Note visual cues such as placeholder data and input-box highlighting when the user is typing inside one of the inputs. Resize the screen to check out the transition.</p>
		</div>
			<button class="form-btn">Show Form</button>
		
	</section>
	
	<section class='table-abb'>
		<h3>Responsive Table</h3>
		<p>
			Providing a nice front-end presentation for organizing information on mobile devices. Resize the screen to check out the transition.
		</p>
		<button class='table-btn'>Show Table</button>
	</section>
</main>

<div class="form">
	<p class='responsive'>reponsive
		<br>
		<i class="fa fa-arrows-h"></i>
	</p>

	<h2 class="heading">Form Survey</h2>
	<div class="col">
		<form>
			<label>FIRST NAME</label>
				<input type="text" name="first">
			<label>LAST NAME</label>
				<input type="text" name="last">
			<label>EMAIL</label>
				<input type="email">
			<label>COUNTRY</label>
				<select name="country">
					<option value="France" selected>France</option>
					<option value="USA">USA</option>
					<option value="Germant">Germany</option>
				</select>
			<label>BIOGRAPHY</label>
				<textarea name="bio"></textarea>
		</form> 
	</div>
	<div class="col">
		<form>
			<label>PHONE NUMBER</label>
				<input type="tel" name="phone">
			<label>AFFILIATIONS</label>
				<textarea name="affiliations"></textarea>
			<label>OCCUPATION</label>
				<select name="occupation">
					<option selected disabled>What do you do?</option>
					<option value="analyst">Analyst</option>
					<option value="programmer">Programmer</option>
					<option value="laborer">Day Laborer</option>
				</select>
			<label>CAT'S NAME</label>
				<input placeholder="Kitty" name="gadget">
			<label>FAVORITE GADGET</label>
				<input placeholder="TacoMaker" name="gadget">
		</form> 
			
	</div>

	<div class="col">
		<form>
			<label>TYPE OF TALENT</label>
				<select name="talent">
					<option selected disabled>Choose a talent</option>
					<option value="cooking">Cooking</option>
					<option value="juggling">Juggling</option>
					<option value="coding">Coding</option>
					<option value="good-jokes">Good Jokes</option>
				</select>
			<label>FAVORITE DRINK</label>
				<input type="text" name="drink" placeholder="Green Tea">
			<label>SPECIAL POWER</label>
				<input type="text" placeholder="Antigravity">
			<label>WEAPON OF CHOICE</label>
				<input type="text" placeholder="Lightsaber">
			<label>COMMENTS</label>
				<textarea></textarea>
		</form>

	</div>	
</div> 	

<!-- end container div -->

<div class="table">
		<p class='responsive'>reponsive<br>
			<i class="fa fa-arrows-h"></i>
		</p>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Occupation</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Bill Thompson</td>
				<td>33</td>
				<td>Systems Admin</td>
				<td>Houston, TX</td>
			</tr>
			<tr>
				<td>Kelsey Schweitzer</td>
				<td>28</td>
				<td>Designer</td>
				<td>Austin, TX</td>
			</tr>
			<tr>
				<td>Thomas Alistair</td>
				<td>25</td>
				<td>Rails Developer</td>
				<td>Houston, TX</td>
			</tr>
			<tr>
				<td>Arthur Chu</td>
				<td>30</td>
				<td>Business Analyst</td>
				<td>Houston, TX</td>
			</tr>
		</tbody>
	</table>

</div>