<div class="container">
	<div class="col">
		<form>
			<label>FIRST NAME</label>
				<input type="text" name="first">
			<label>LAST NAME</label>
				<input type="text" name="last">
			<label>EMAIL</label>
				<input type="email">
			<label>COUNTRY</label>
				<select name="country">
					<option value="France" selected>France</option>
					<option value="USA">USA</option>
					<option value="Germant">Germany</option>
				</select>
			<label>BIOGRAPHY</label>
				<textarea name="bio"></textarea>
		</form> 
	</div>
	<div class="col">
		<form>
			<label>PHONE NUMBER</label>
				<input type="tel" name="phone">
			<label>AFFILIATIONS</label>
				<textarea name="affiliations"></textarea>
			<label>OCCUPATION</label>
				<select name="occupation">
					<option selected disabled>What do you do?</option>
					<option value="analyst">Analyst</option>
					<option value="programmer">Programmer</option>
					<option value="laborer">Day Laborer</option>
				</select>
			<label>CAT'S NAME</label>
				<input placeholder="Kitty" name="gadget">
			<label>FAVORITE GADGET</label>
				<input placeholder="TacoMaker" name="gadget">
		</form> 
			
	</div>

	<div class="col">
		<form>
			<label>TYPE OF TALENT</label>
				<select name="talent">
					<option selected disabled>Choose a talent</option>
					<option value="cooking">Cooking</option>
					<option value="juggling">Juggling</option>
					<option value="coding">Coding</option>
					<option value="good-jokes">Good Jokes</option>
				</select>
			<label>FAVORITE DRINK</label>
				<input type="text" name="drink" placeholder="Green Tea">
			<label>SPECIAL POWER</label>
				<input type="text" placeholder="Antigravity">
			<label>WEAPON OF CHOICE</label>
				<input type="text" placeholder="Lightsaber">
			<label>COMMENTS</label>
				<textarea></textarea>
		</form>

	</div>	
</div> <!-- end container div -->