<main id="homepage">
  <!-- <div class="hero">
  	<div class="hero-inner">
  		<div class="hero-copy">
  			<h1>Explorations Into UI Themes</h1>
  			<p>As far as the customer is concerned, the interface is the product.<br>
  			<small><strong>-Jef Raskin</strong></small></p>	
  		</div>
      <button>Modal!</button>
  	</div>
  </div> -->
  <header class="theme-header">
      <h1>User Interface Components</h1> <p>a bit-by-bit study of common user-interface elements</p>
  </header>
  <div class="flex-boxes">
    <a href="#/layouts" class="flex-box">
        <h1 class="flex-title">Layouts</h1>
        <p>Some advanced layout examples: <br><small> <strong>parralax scrolling</strong> | <strong>masonry</strong> | <strong>image galleries</strong></small></p>
      </a>
    <a href="#/menus-and-modals" class="flex-box">
      <h1 class="flex-title">Menu &amp; Navigation</h1>
      <p>Cool UI effects for menus:<br>
      <small><strong>navigation menu bars</strong> | <strong>in-page menus</strong>.</small></p>
    </a>
    <a href="#/details" class="flex-box">
      <h1 class="flex-title">Content Display</h1>
      <p>Some common ways of displaying content on a web-page:<br>
       <small>
         <strong>tabs</strong> | <strong>content-sliders</strong> | <strong>drop-down accordions</strong> | <strong>tool-tips</strong>. 
       </small>
      </p>
    </a>
    <a href="#/form-table" class="flex-box flex-box-big">
      <h1 class="flex-title">Forms &amp; Tables</h1>
      <p>Giving structure to data input and output</p>
    </a>
    <a href="#/odyssey" class="flex-box">
    <h1 class="flex-title">Odyssey of a WebDeveloper </h1>
      <p>Tracking growth and progress from ground-zero to now.</p>
    </a>
    <a href="#/animations" class="flex-box">
      <h1 class="flex-title">Animations</h1>
      <p>Animations and effects utilizing <strong> velocity.js</strong></p>
    </a>
  </div>
</main>