<main id="homepage">
  <!-- <div class="hero">
  	<div class="hero-inner">
  		<div class="hero-copy">
  			<h1>Explorations Into UI Themes</h1>
  			<p>As far as the customer is concerned, the interface is the product.<br>
  			<small><strong>-Jef Raskin</strong></small></p>	
  		</div>
      <button>Modal!</button>
  	</div>
  </div> -->

  <div class="flex-boxes">
    <a href="#/odyssey" class="flex-box">
      <h1 class="flex-title">Odyssey of a WebDeveloper </h1>
      <p>Tracking growth and progress from ground-zero to now.</p>
    </a>
    <a href="#/menus-and-modals" class="flex-box">
      <h1 class="flex-title">Menu &amp; Modal Madness</h1>
      <p>Cool UI effects for <strong>modal windows</strong> and off-screen pop-out <strong>menus</strong>.</p>
    </a>
    <a href="#/details" class="flex-box">
      <h1 class="flex-title">Content Display</h1>
      <p>tooltips<br>
       dropdown lists<br>
      </p>
    </a>
    <a href="javascript:void(0)" class="flex-box flex-box-big">
      <h1 class="flex-title">Forms</h1>
      <p>Where would the web be without some forms?</p>
    </a>
    <a href="javascript:void(0)" class="flex-box">
      <h1 class="flex-title">Tables</h1>
      <p>You often need tables to represent data. Here are some table user-interfaces i have built.</p>
    </a>
    <a href="javascript:void(0)" class="flex-box">
      <h1 class="flex-title">Effects &amp; Animations</h1>
      <p>Checkout some neat details like tool-tips, animations, and dropdown lists</p>
    </a>
  </div>
</main>