<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Explorations Into UI Themes</h1>
			<p>As far as the customer is concerned, the interface is the product.<br>
			<small><strong>-Jef Raskin</strong></small></p>	
		</div>
    <button>Modal!</button>
	</div>
</div>

<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Checkout Some Navigation Menus I've Built</h1>
    <p>Navigation is a critical part of your web page. It determines the extent that users will interact and cooperate with your site</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
    <h1 class="flex-title">Shopping Cart</h1>
    <p>Here is a nice pop-out shopping-cart</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
    <h1 class="flex-title">Search Results</h1>
    <p>This is a user-friendly summary for search results for items in an inventory.</p>
  </a>
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Forms</h1>
    <p>Where would the web be without some forms?</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Tables</h1>
    <p>You often need tables to represent data. Here are some table user-interfaces i have built.</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
    <h1 class="flex-title">Details</h1>
    <p>Checkout some neat details like tool-tips, animations, and dropdown lists</p>
  </a>
</div>