<main id="layouts">
	<header class="theme-header">
	      <h1>Advanced Layout</h1>
	      <p>Demonstration of simple, elegant and creative layouts.</p>
	</header>
	<div class="row1">
        <section class='isotope'>
            <h4>Layout Techniques</h4>
            <div class='description'>
                <p>Creative layout techniques for presenting information in an engaging manner.</p>
            </div>
            <div class='buttons-list'>
                <ul>
                	<!-- http://codepen.io/abergin/pen/xGXpQY -->
                    <li>
                        <button class=""><a href="#/layouts/rolldown">Rolldown-Curtain Splash Page</a></button>
                    </li>
                    <!--http://tympanus.net/Development/triple-view-layout/-->
                    <li>
                        <button class="modal-btn" data-effect="mdl-effect-flip"><a href="#/layouts/triple-view">Triple-View Carousel</a></button>
                        <small>under construction</small>
                    </li>
                    <!--http://tympanus.net/Development/SplitLayout/-->
                    <li>
                        <button class="modal-btn" data-effect="mdl-effect-swing"><a href="#/layouts/split-view">Split View Display</a></button>
                    </li>
                    <!--http://tympanus.net/Development/FullscreenLayoutPageTransitions/-->
                    <li>
                        <button class="modal-btn">Dashboard to FullScreen</button>
                        <small>under construction</small>
                    </li>
                    <!--http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/-->
                    <li>
                        <button class="modal-btn"> Thumbnail Expanding Preview</button>
                        <small><br>under construction</small>    
                    </li>
               </ul>
            </div>
        </section>
        <section class="parallax-demo">
            <h4>Scrolling Effects</h4>
            <p>Scrolling effects give the site a unique feel, show an attention to detail, and make vertical navigation a fluid experience.</p>
            <button class="parallax-btn">Pure CSS</button><small>under construction</small>

        </section>
    </div>

</main>


