<main id="split">
	<div class="split-wrapper">
		<div class="side-flap left">
		</div>

		<div class="central-flap">
			<div class="main-pane left">
				<div class="open-pane">
					<div class="image-container"></div>
					<h4>Good</h4>
					<hr>
					<h6>Always Wins</h6>
				</div>
			</div>
			<div class="main-pane right">
				<div class="open-pane">
					<div class="image-container"></div>
					<h4>Evil</h4>
					<hr>
					<h6>Never Loses</h6>
				</div>
			</div>
		</div>
		<div class="side-flap right">
			
		</div>
	</div>
</main>