<main id="layouts">
	<header class="theme-header">
	      <h1>Advanced Layout</h1>
	      <p>Demonstration of simple, elegant and creative layouts.</p>
	</header>
	<div class="row1">
        <section class='isotope'>
            <h4>Layout Techniques</h4>
            <div class='description'>
                <p>Creative layout techniques for presenting information in an engaging manner.</p>
            </div>
            <div class='buttons-list'>
                <ul>
                	<!-- http://codepen.io/abergin/pen/xGXpQY -->
                    <li>
                        <button class=""><a href="#/layouts/rolldown">Rolldown-Curtain Splash Page</a></button>
                    </li>
                    <!--http://tympanus.net/Development/triple-view-layout/-->
                    <li>
                        <button class="modal-btn" data-effect="mdl-effect-flip">Triple-view-layout</button>
                    </li>
                    <!--http://tympanus.net/Development/SplitLayout/-->
                    <li>
                        <button class="modal-btn" data-effect="mdl-effect-swing"><a href="#/layouts/split-view">Split View Display</a></button>
                    </li>
                    <!--http://tympanus.net/Development/FullscreenLayoutPageTransitions/-->
                    <li>
                        <button class="modal-btn">Dashboard to FullScreen</button>
                    </li>
                    <!--http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/-->
                    <li>
                        <button class="modal-btn"> Thumbnail Expanding Preview</button>
                    </li>
                </ul>
            </div>
        </section>
        <section class="parallax-demo">
            <h4>Parallax Scrolling</h4>
            <p>Parallax scrolling gives the perception that the foreground is moving at a different rate than the backgorund. Click on the examples to take a look of some parrallax layouts.</p>
            <button class="parallax-btn">Pure CSS</button>
        </section>
    </div>

</main>


