<main id="wrapper-m-and-m">
	
	<div class='nav-screen-overlay'></div>
	<nav class="side-menu">
		<h3>Menu</h3>
		<hr>
		<ul>
			<li>Fish</li>
			<li>Chicken</li>
			<li class="sub-menu">Vegetables
				<ul class="sub-list">
					<li>Corn</li>
					<li>Tomatoes</li>
					<li>Broccoli</li>
					<li>Peppers	</li>
					<li>Squash</li>
				</ul>

			</li>
			<li>Beef</li>

		</ul>
	</nav>
	<nav class="top-menu">
		<h3>Menu</h3>
		<hr>
		<ul class="main-menu">
			<li>Fish</li>
			<li>Chicken</li>
			<li class="sub-menu">Vegetables
				<ul class="sub-list">
					<li>Corn</li>
					<li>Tomatoes</li>
					<li>Broccoli</li>
					<li>Peppers	</li>
					<li>Squash</li>
				</ul>

			</li>
			<li>Pork</li>

		</ul>
	</nav>
	<nav class="push-menu">
		<h3>Menu</h3>
		<hr>
		<ul class="main-menu">
			<li>Fish</li>
			<li>Chicken</li>
			<li class="sub-menu">Vegetables
				<ul class="sub-list">
					<li>Corn</li>
					<li>Tomatoes</li>
					<li>Broccoli</li>
					<li>Peppers	</li>
					<li>Squash</li>
				</ul>

			</li>
			<li>Pork</li>

		</ul>
	</nav>

	<header class="theme-header">
			<h1>Menus &amp; Modal Window Effects</h1>
			<p>Animations using <strong>CSS</strong> transitions. <em>Event-handling</em> with <span>jQuery.</span></p>	
	</header>
	
	<section class="navigation-menus">
		<h3>Navigation Menus</h3>
		<div class="description">
			<p> Menus that are drawn off the page and appear only when the user dictates.</p>
		</div>

		
		
		<div class='buttons-list'>
			<ul>
				<li><button class='menu-btn' data-menuType="top-menu">Drop-Down</button></li>
				<li><button class='menu-btn' data-menuType="side-menu">Left-Side</button></li>
				<li><button class='menu-btn'  data-menuType="push-menu">Push-Out</button></li>
				<li><button>Animated On-Scroll</button></li>
				<li><button>Collapsible Icons</button></li>
			</ul>
		</div>
	</section>
	
	<section class='dropdown-menus'>
		<h3>Dropdown Menus</h3>
		<div class='buttons-list'>
			<ul>
				<li><button>Dropdown</button></li>
				<li><button>Mega Menu</button></li>
				<li><button>Filtered Menu</button></li>
			</ul>
		</div>
		<div class='description'>
			<p>There are many ways for modal windows to appear. Avoid the javascript <code>alert()</code> and alert your users gracefully and appropriately with the right notification.</p>
		</div>
	</section>
</main>