<main id="wrapper-m-and-m">
	
	<header>
			<h1>Menus &amp; Modal Window Effects</h1>
			<p>Alert your users with style.</p>	
	</header>
	
	<section class="menus">
		<h3>Menus</h3>
		<div class="description">
			<p> My philosophy is that menus should be off the page in order to maximize viewing area.</p>
		</div>
		
		<div class='buttons-list'>
			<ul>
				<li><button>Drop-Down</button></li>
				<li><button>Left-Side</button></li>
				<li><button>Swing-In</button></li>
				<li><button>Push-Out</button></li>
			</ul>
		</div>
	</section>
	
	<section class='modals'>
		<h3>Modal Windows</h3>
		<div class='buttons-list'>
			<ul>
				<li><button>Slide-In</button></li>
				<li><button>Drop</button></li>
				<li><button>3D-Flip</button></li>
				<li><button>Swing</button></li>
				<li><button>Blackout</button></li>
			</ul>
		</div>
		<div class='description'>
			<p>There are many ways for modal windows to appear. I've written the event-handling with jQuery and the animations using CSS transitions</p>
		</div>
	</section>
</main>