
<main id="wrapper-m-and-m">
	
	<div class='nav-screen-overlay'></div>

	<nav class="side-menu">
		<h3>Menu</h3>
		<hr>
		<ul>
			<li>Fish</li>
			<li>Chicken</li>
			<li class="sub-menu">Vegetables
				<ul class="sub-list">
					<li>Corn</li>
					<li>Tomatoes</li>
					<li>Broccoli</li>
					<li>Peppers	</li>
					<li>Squash</li>
				</ul>

			</li>
			<li>Beef</li>

		</ul>
	</nav>
	<nav class="top-menu">
		<h3>Menu</h3>
		<hr>
		<ul class="main-menu">
			<li>Fish</li>
			<li>Chicken</li>
			<li class="sub-menu">Vegetables
				<ul class="sub-list">
					<li>Corn</li>
					<li>Tomatoes</li>
					<li>Broccoli</li>
					<li>Peppers	</li>
					<li>Squash</li>
				</ul>

			</li>
			<li>Pork</li>

		</ul>
	</nav>
	<nav class="push-menu">
		<h3>Menu</h3>
		<hr>
		<ul class="main-menu">
			<li>Fish</li>
			<li>Chicken</li>
			<li class="sub-menu">Vegetables
				<ul class="sub-list">
					<li>Corn</li>
					<li>Tomatoes</li>
					<li>Broccoli</li>
					<li>Peppers	</li>
					<li>Squash</li>
				</ul>

			</li>
			<li>Pork</li>

		</ul>
	</nav>
	<nav class="icon-panel">
		<ul class="icon-menu">
			<li><i class="fa fa-asterisk"></i></li>
			<li><i class="fa fa-child"></i></li>
			<li><i class="fa fa-coffee"></i></li>
			<li><i class="fa fa-fire-extinguisher"></i></li>
		</ul>
		<span class="pull-tab pull-icons">=</span>
	</nav>
	<nav class="scroll-menu">
		<h5>Scroll to:</h5>
		<ul>
			<li><a href="#section1">Section 1</a></li>
			<li><a href="#section2">Section 2</a></li>
			<li><a href="#section3">Section 3</a></li>
			<li><a href="#section4">Section 4</a></li>
			<li><a href="#section5">Section 5</a></li>
		</ul>
		<div class="close-scroll">&gt;&gt;</div>
	</nav>

	<header class="theme-header">
			<h1>Menu Components</h1>
			<p>Animations using <strong>CSS</strong> transitions. <em>Event-handling</em> with <span>jQuery.</span></p>	
	</header>
	
	<section class="navigation-menus">
		<h3>Navigation Menus</h3>
		<div class="description">
			<p> Menus that are drawn off the page and appear only when the user dictates.</p>
		</div>
		<div class='buttons-list'>
			<ul>
				<li><button class='menu-btn' data-menuType="top-menu">Pop-Down</button></li>
				<li><button class='menu-btn' data-menuType="side-menu">Pop-In</button></li>
				<li><button class='menu-btn'  data-menuType="push-menu">Push-Out</button></li>
				<li><button class='menu-btn-scroll'>Animated Scroll</button></li>
				<li><button class="menu-btn-icon-panel pull-icons">Collapsible Icons</button></li>
			</ul>
		</div>
	</section>
	
	<section class='in-page-menus'>
		<h3>In-Page Menus</h3>
		<p>
			Not all content needs a major menu. Sometimes a simple dropdown will do.
		</p>
		<div class="dropdown">
			<a class='dd-btn'>Dropdown <i class="fa fa-caret-down"></i></a>
			<ul class='dd-list'>
				<li>Head</li>
				<li>Neck</li>
				<li>Chest</li>
				<li>Waist</li>
				<li>Legs</li>
				<li>Feet</li>
			</ul>
		</div>
		<p> <br>
			Howeversometimes a major menu is necessary. Especially if there are visuals and sub-options.
		</p>
		<button class='mega-btn'>Mega Menu <i class="fa fa-list-alt"></i></button>
	</section>

	<aside class="dummy-content">
		<a name="section1"></a>
		<article>
			<h3>Section-1</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
		</article>
		<article>
			<a name="section2"></a>
			<h3>Section-2</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
		</article>
		<article>
			<a name="section3"></a>
			<h3>Section-3</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
		</article>
		<article>
			<a name="section4"></a>
			<h3>Section-4</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
		</article>
		<article>
			<a name="section5"></a>
			<h3>Section-5</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
		</article>
		<article>
			<h5>Section-6</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio soluta hic ducimus, omnis eligendi, reiciendis, quas explicabo quam quod itaque dolore ipsum autem. Vitae facere distinctio necessitatibus placeat cupiditate dignissimos dolorum alias perspiciatis saepe neque maiores rerum sapiente quam, tempore iusto et qui aspernatur, minus! Quaerat quod eum tenetur distinctio officia maiores, delectus ipsa eligendi ut doloremque cum nam quisquam reprehenderit laborum facere magni, praesentium commodi voluptate nostrum iusto nobis voluptas! Quis voluptatem, nostrum.</p>
		</article>
	</aside>

	<div class="mega-menu">
		<ul class="mm-grid main-list">
			<li class="grid-item">
				<div class="logo"><i class="fa fa-car"></i></div>
				<h5>Cars</h5>
				<ul class="mm-sublist">
					<li>+ Toyota Prius</span></li>
					<li>+ Honda Civic</span></li>
					<li>+ Audi A4</span></li>
					<li>+ Acura TL</span></li>
				</ul>
			</li>
			<li class="grid-item">
				<div class="logo"><i class="fa fa-truck"></i></div>
				<h5>Trucks</h5>
				<ul class="mm-sublist">
					<li>+ Mac</li>
					<li>+ Peterbilt</li>
					<li>+ Ford F650</li>
					<li>+ Leyland T45</li>
				</ul>

			</li>
			<li class="grid-item">
				<div class="logo"><i class="fa fa-motorcycle"></i></div>
				<h5>Motorcycles</h5>
				<ul class="mm-sublist">
					<li>+ Ducati</li>
					<li>+ Yamaha</li>
					<li>+ Suzuki</li>
					<li>+ Honda</li>
				</ul>
			</li>
			<li class="grid-item">
				<div class="logo"><i class="fa fa-bus"></i></div>
				<h5>Vans</h5>
				<ul class="mm-sublist">
					<li>+ Chevrolet Express</li>
					<li>+ Ford E Series</li>
					<li>+ Mercedes Sprinter</li>
					<li>+ Nissan NV</li>
				</ul>
			</li>
		</ul>
		
		<p class='responsive'>reponsive<br>
			<i class="fa fa-arrows-h"></i>
		<p>
	</div>

</main>