<nav class="cbp-spmenu-top" >
  <h3>Menu</h3>
  <div class="nav-options">
    <a href="javascript:void(0)">Article-1</a>
    <a href="javascript:void(0)">Article-2</a>
    <a href="javascript:void(0)">Article-3</a>
    <a href="javascript:void(0)">Article-4</a>
    <a href="javascript:void(0)">Footer</a>
  </div>
</nav>

<div class='click-me'>
  <button class="showMenu">+</button>
</div>

<main id="nav-examples">
    <article class="type-system-traditional">
        <p class="type">Article Type</p>
        <h1>Why I Love Starbucks</h1>
        <h2>Just kidding </h2>
        <p class="date">30 Mar 2014</p>
        <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
            <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>I don't like starwars...</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Billy Tomkins</p>
    </article>
    <article class="type-system-traditional">
        <p class="type">item2</p>
        <h1>A Sensational Year</h1>
        <h2>These override some of the styles specified in the Bitters</h2>
        <p class="date">30 Mar 2014</p>
        <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
            <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>still lorem</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Author Name</p>
    </article>
    <article class="type-system-traditional">
        <p class="type">webDev</p>
        <h1>How to Become a Great Developer</h1>
        <h2>I enjoy coding</h2>
        <p class="date">30 Mar 2014</p>
        <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
            <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>Show me how, pls</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Author Name</p>
    </article>
</main>
