<nav class="cbp-spmenu-top" >
  <h3>Menu</h3>
  <div class="nav-options">
    <a href="javascript:void(0)">Article-1</a>
    <a href="javascript:void(0)">Article-2</a>
    <a href="javascript:void(0)">Article-3</a>
    <a href="javascript:void(0)">Article-4</a>
    <a href="javascript:void(0)">Footer</a>
  </div>
</nav>

<div class='click-me'>
  <button class="showMenu">+</button>
</div>

<main id="nav-examples">
    <div class="hero">
      <div class="hero-inner">
        <a href="" class="hero-logo"></a>
        <div class="hero-copy">
          <h1>Odyssey of a Web Developer</h1>
          <p>a retrospective on pain, suffering, humiliation...and progress</p>
        </div>
        <button>Learn More</button>
      </div>
    </div>
    <article class="type-system-traditional">
        <p class="type">Stage-1</p>
        <h1 class="title">Ground Zero with HTML &amp; CSS</h1>
        <h2 class='alt-title'>Imitation as the Sincerest Form of Flattery: Creating a Clone of Google's Homepage </h2>
        <p class="date">10 June 2014</p>
        <p>I started studying HTML &amp; CSS on April 8, 2014 with a bootleg copy of <em>HTML &amp; CSS for Dummies</em>. While it all seems elementary now, it took a painfully long time to get the hang of layouts, positioning, and css syntax initially. Even worse, I had no clue as to how to put this stuff into use and I felt that I had nothing to sink my teeth into. On a blog somewhere, a developer recommended that it was good practice to recreate the layout of a site. 
        <br><br>
          So, what better than <a href="http://google.com">Google's</a> simple homepage?
        </p>
        <hr>
        <div class="showpiece">
          <a href="http://t3patterson.github.io/google-clone2"target="_blank"><img src="./images/google-mock.jpg" alt="mock google homepage"></a>
        </div>
        <hr>
        <p class="author">Author Name</p>

    </article>
    <article class="type-system-traditional">
        <p class="type">Stage-2</p>
        <h1>Easing into Javascript</h1>
        <h2>A birthday present to myself</h2>
        <p class="date">10 Jul 2014</p>
        <p>I was reading everywhere that Javascript was the language of the web. This didn't make any sense to me, considering that I had been clearly making site layouts with html/css, even though they were amateurish. Additionally, numerous commenters on stack exchange and corners of the web were saying that html/css weren't programming languages, that javascript lets you control the *behavior* of a site.  I had no idea what the hell everyone was talking about, but one thing was clear.
        <br><br>
        I was going to have to learn javascript
        <br><br>
        On June 2, my birthday, I put my shoulder to the wheel and began a tutorial on udemy.com. Looking back, the tutorial was very outdated and awfully lame, but we all start somewhere. I later moved over to treehouse where I started to wrap my mind around the fundamentals of the language: variables, primitive values, arrays, objects, functions. I was confused as hell and it didn't make sense as to how any of this related to web development.
        <br><br>
        Then there was the logic: if-else, iterating, passing arguments to functions, logical operators. Then there was the javascript syntax: function declarations vs. function expressions, anonymous functions, native properties and methods for strings/arrays/numbers/objects. It was overwhelming and I felt an acute sense of stress.
        <br><br>
        But I continued.
        <br><br>
        Through the jQuery library, I learned how javascript allowed you to select html elements on a web page and manipulate them.  So I began to experiment with jQuery since the syntax was easier and more familiar. It more or less 'made sense'.
        <br><br>
        Through my endless perusing of forums, blog comments, and other miscellanea, I read that a common interview 'test' for junior developers was to create a program for Fizz Buzz. Basically, you iterate over an array of 1-100 and print the series. But there's a catch for every third element, you print 'Fizz' rather than the number. For every 5th element, you print 'Buzz'. And for those elements that are both 3rd and 5th you print 'Fizz Buzz'.
        <br>
        <br>
        After a month of studying javascript and subsequently jQuery, I was able to solve it. My solution was ugly, but I got it done. As a bonus: I solved an 'extra credit' assignment where a user inputs a number in an <code>input</code> tag and the page prints the 'Fizz Buzz' up to that number.
        </p>
        <hr>
        <div class="showpiece">
          <a href="http://t3patterson.github.io/google-clone2"target="_blank"><img src="./images/google-mock.jpg" alt="mock google homepage"></a>
          <a href="http://t3patterson.github.io/google-clone2"target="_blank"><img src="./images/google-mock.jpg" alt="mock google homepage"></a>
        </div>
        <hr>
        <p class="author">Author Name</p>
    </article>
    <article class="type-system-traditional">
        <p class="type">webDev</p>
        <h1>The Iron Yard-Part 1</h1>
        <h2>I enjoy coding</h2>
        <p class="date">30 Mar 2014</p>
        <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
            <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>Show me how, pls</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Author Name</p>
    </article>
     <article class="type-system-traditional">
        <p class="type">webDev</p>
        <h1>The Iron Yard - Part 2</h1>
        <h2>I enjoy coding</h2>
        <p class="date">30 Mar 2014</p>
        <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
            <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>Show me how, pls</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Author Name</p>
    </article>
     <article class="type-system-traditional">
        <p class="type">webDev</p>
        <h1>Current Work Samples</h1>
        <h2></h2>
        <p class="date">30 Mar 2014</p>
        <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
            <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>Show me how, pls</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Author Name</p>
    </article>
</main>
