<nav class="cbp-spmenu-top" >
  <h3>Menu</h3>
  <div class="nav-options">
    <a href="javascript:void(0)">Article-1</a>
    <a href="javascript:void(0)">Article-2</a>
    <a href="javascript:void(0)">Article-3</a>
    <a href="javascript:void(0)">Article-4</a>
    <a href="javascript:void(0)">Footer</a>
  </div>
</nav>

<div class='click-me'>
  <button class="showMenu">+</button>
</div>

<main id="nav-examples">
    <div class="hero">
      <div class="hero-inner">
        <a href="" class="hero-logo"></a>
        <div class="hero-copy">
          <h1>The Odyssey of A Web Developer</h1>
          <p>From start to now</p>  
        </div>
        <button>Learn More</button>
      </div>
    </div>
    <article class="type-system-traditional">
        <p class="type">Stage-1</p>
        <h1 class="title">Aquiring the Basics: HTML &amp; CSS</h1>
        <h2 class='alt-title'>Imitation as the Sincerest Form of Flattery: Creating a Clone of Google's Homepage </h2>
        <p class="date">10 June 2014</p>
        <p>I started studying HTML &amp; CSS on April 8, 2014 from a bootleg copy of 'HTML &amp; CSS for Dummies'. It took a painfully long time to get the hang of these two syntaxes. Even worse, I had no clue as to how to put this stuff into use. On a blog somewhere, someone recommended that it was good practice to recreate a site. So, what better than <a href="http://google.com">Google's</a> homepage? <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>I don't like starwars...</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Travis Patterson Hubbard</p>
    </article>
    <article class="type-system-traditional">
        <p class="type">Stage-2</p>
        <h1>Easing into Javascript</h1>
        <h2>These override some of the styles specified in the Bitters</h2>
        <p class="date">30 Mar 2014</p>
        <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
            <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>still lorem</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Author Name</p>
    </article>
    <article class="type-system-traditional">
        <p class="type">webDev</p>
        <h1>The Iron Yard-Part 1</h1>
        <h2>I enjoy coding</h2>
        <p class="date">30 Mar 2014</p>
        <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
            <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>Show me how, pls</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Author Name</p>
    </article>
     <article class="type-system-traditional">
        <p class="type">webDev</p>
        <h1>The Iron Yard - Part 2</h1>
        <h2>I enjoy coding</h2>
        <p class="date">30 Mar 2014</p>
        <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
            <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>Show me how, pls</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Author Name</p>
    </article>
     <article class="type-system-traditional">
        <p class="type">webDev</p>
        <h1>Current Work Samples</h1>
        <h2></h2>
        <p class="date">30 Mar 2014</p>
        <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
            <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
        </p>
        <h3>Show me how, pls</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">Author Name</p>
    </article>
</main>
