<nav class="cbp-spmenu-top" >
  <h3>Menu</h3>
  <div class="nav-options">
    <a href="javascript:void(0)">Self Study</a>
    <a href="javascript:void(0)">Coding Bootcamp</a>
    <a href="javascript:void(0)">Teacher Assistant</a>
    <a href="javascript:void(0)">????</a>
    <a href="javascript:void(0)">????</a>
  </div>
</nav>

<div class="md-modal md-effect">
  <div class="md-content">
    <h3>Check me out!</h3>
    <p>This section of the site is a record of my progress as a web developer.  Given that I've been around other aspiring web developers who seem to take to this skill like a fish to water, I can't say that I've been a prodigy. But after a year of consistent study, I'm confident that an average person of average ability can become proficient in this industry with dedication and practice.</p>
    <button class="exit-modal">X</button>
  </div>
  </div>
</div>

<div class="md-overlay">  
</div>

<div class='click-me'>
  <button class="showMenu">+</button>
</div>

<main id="nav-examples">
    <div class="hero">
      <div class="hero-inner">
        <a href="" class="hero-logo"></a>
        <div class="hero-copy">
          <h1>Odyssey of a Web Developer</h1>
          <p>...the slow march of progress</p>
        </div>
        <button class="modal">Learn More</button>
      </div>
    </div>
    <section>
      <article class="">
          <div class="showpiece">
            <h3>Hello HTML &amp; CSS - First Project</h3>
            <p>My first complete layout using HTML &amp; CSS</p>
            <a href="http://t3patterson.github.io/firstOne/"target="_blank"><img src="./images/first-site.jpg" alt="first layout"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>HTML &amp; CSS Resume </h3>
            <p>Getting a handle on HTML and basic CSS</p>
            <a href="http://t3patterson.github.io/earlyHTML-Resume/"target="_blank"><img src="./images/html_resume.jpg" alt="html-css resume"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>Mock Google Homepage</h3>
            <p>Putting beginner CSS to use to rebuild a high fidelity mock of a simple layout.</p>
            <a href="http://t3patterson.github.io/google-clone2"target="_blank"><img src="./images/google-mock.jpg" alt="mock google homepage"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>Fizz Buzz</h3>
            <p>Using JavaScript to write an interactive script to solve the classic programming interview question.</p>
            <a href="http://t3patterson.github.io/FizzBuzz2" target="_blank"><img src="./images/fizzbuzz.jpg" alt="fizz buzz"></a>
          </div>
          <hr>
           <div class="showpiece">
            <h3>Mock Landing Page</h3>
            <p>My first attempt at designing and building a page with attention to aesthetic detail.</p>
            <a href="http://t3patterson.github.io/landing-page2/" target="_blank"><img src="./images/sample_landing_page.jpg" alt="mock landing page"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>Mock Landing Page 2</h3>
            <p>Building a responsive, fluid grid-layout with CSS media queries</p>
            <a href="http://t3patterson.github.io/demo-layout/"target="_blank"><img src="./images/english-voices.jpg" alt="mock landing page"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>Shopping List</h3>
            <p> Using JavaScript and jQuery for DOM manipulation, event handling, and user-interface feedback. </p>
            <a href="http://t3patterson.github.io/shopping-list/" target="_blank"><img src="./images/shopping_list.jpg" alt="shopping-list"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>Interactive Quiz</h3>
            <p>Expanding my skills in JavaScript and jQuery to handle more complicated if-else logic</p>
            <a href="http://t3patterson.github.io/Interactive_Quiz/" target="_blank"><img src="./images/health-quiz.jpg" alt=""></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>La Condesa Irina Lazaar </h3>
            <p>Further attempts to improve my responsive web skills, attention to detail, and eye for design.</p>
            <a href="http://t3patterson.github.io/la-condesa/" target="_blank"><img src="./images/la-condesa.jpg" alt="la condesa irina lazaar"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>Responsive Layouts - Responsive Form</h3>
            <a href="http://t3patterson.github.io/TIYA-forms/" target="_blank"><img src="./images/responsive-form.jpg" alt="responsive form"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>javaScript Color-Clock</h3>
            <p>Exploration into setInterval(), JavaScript's Date() object and interacting with the DOM</p>
            <a href="http://t3patterson.github.io/ColorClock/" target="_blank"><img src="./images/color-clock.jpg" alt="color clock"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>RepoMan</h3>
            <p>Querying and micro-templating data from the github API</p>
            <a href="http://t3patterson.github.io/NewRepoMan/" target="_blank"><img src="./images/repoman.jpg" alt="repoman"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>Etsy Appsy</h3>
            <p>Querying and templating data from the Etsy API into a responsive grid. Basic webpage routing.</p>
            <a href="http://t3patterson.github.io/EstyApp/#/" target="_blank"><img src="./images/estyApp.jpg" alt="showpiece"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>Backbone Exploration - Farm-to-Restaurant</h3>
            <p>Mock landing page -- experimenting with Backbone's Models, Views, Collections, and Routing</p>
            <a href="http://t3patterson.github.io/Farm-to-Restaurant-Houston" target="_blank"><img src="./images/fyarm.jpg" alt="mock landing page"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>E-Commerce Responsive Product Display</h3>
            <p>Responsive product display with CSS animations</p>
            <a href="http://t3patterson.github.io/responsive-layouts-partDeux/tshirt-layout/layout2.html" target="_blank"><img src="./images/responsive-tshirt.jpg" alt="responsive product dispplay"></a>
          </div>
          <hr>
          <div class="showpiece">
            <h3>Todo List with Authentication</h3>
            <a href="http://t3patterson.github.io/Parsing-Todos/" target="_blank"><img src="./images/parsetodos.jpg" alt="todo list"></a>
          </div>
           <hr>
          <div class="showpiece">
            <h3>Furniture Dealer</h3>
            <p>Using Parse/Backbone and Bootstrap</p>
            <a href="http://t3patterson.github.io/furniture-dealer/" target="_blank"><img src="./images/metroretro.jpg" alt="furniture-dealer"></a>
          </div>
           <hr>
           <div class="showpiece">
            <h3>Etsy Revisited</h3>
            <p>Improved UI, improved async logic, and my first foray intro to ES6 syntax (string literals, importing/exporting modules) </p>
            <a href="http://t3patterson.github.io/EtsyNightmare/" target="_blank"><img src="./images/etsy-revisited.jpg" alt="etsy-nightmare"></a>
          </div>
           <hr>
           <div class="showpiece">
            <h3>User Interface Widgets</h3>
            <p>Using CSS transitions and animations to build common interface components that convey information and add to user experience.</p>
            <a href="http://t3patterson.github.io/UserInterfaceWidgets/" target="_blank"><img src="./images/ui-widgets.jpg" alt="user-interface-widgets"></a>
          </div>
          <hr>
           <div class="showpiece">
            <h3>React Soundcloud</h3>
            <p>Using React to create the view layer for rendering a group of audioplayers based on user search-query to Soundcloud's API. Audio is powered by Soundcloud's SDK.</p>
            <a href="http://t3patterson.github.io/React-Soundcloud2/" target="_blank"><img src="./images/react-soundcloud.jpg" alt="react-soundcloud"></a>
          </div>
          <hr>
           <div class="showpiece">
            <h3>Soapbox</h3>
            <p>Creating a simple blogging platform using React &amp; Parse.</p>
            <a href="http://t3patterson.github.io/SoapBox/" target="_blank"><img src="./images/soapbox.jpg" alt="soapbox"></a>
          </div>



      </article>
    </section>
</main>
