
<main>
  <nav>
    <a href="#cover"><h3>Cover</h3></a>
    <a href="#section-one"><h3>One</h3></a>
    <a href="#section-two"><h3>Two</h3></a>
    <a href="#section-three"><h3>Three</h3></a>
  </nav>
  <section id="cover" class="cover">
    <h1>Cover</h1>
    <p>Scroll</p>
  </section>
  <section id="section-one" class="content">
    <div>
      <h2>Section One</h2>
      <img src="http://placekitten.com/1280/600" />
      <p>Dolorem rerum et aspernatur inventore quasi et quod doloremque exercitationem sunt adipiscing facilis possimus minus labore exercitationem aspernatur ipsam voluptatibus excepturi nihil! Voluptatem dolores id accusantium temporibus assumenda et atque unde consectetur fugit sit qui voluptas fugit dolore nihil quidem tempore consequuntur similique reprehenderit et rerum. Velit corporis consequatur nesciunt est corporis et qui quod. Recusandae qui consequatur itaque inventore hic molestiae labore dolores rerum veniam culpa dolorem velit in molestiae voluptatem. Non sed quod animi excepturi sapiente obcaecati quod.</p>
    </div>
  </section>
  <section id="section-two" class="content">
    <div>
      <h2>Section Two</h2>
      <img src="http://placekitten.com/1180/500" />
      <p>Dolorem rerum et aspernatur inventore quasi et quod doloremque exercitationem sunt adipiscing facilis possimus minus labore exercitationem aspernatur ipsam voluptatibus excepturi nihil! Voluptatem dolores id accusantium temporibus assumenda et atque unde consectetur fugit sit qui voluptas fugit dolore nihil quidem tempore consequuntur similique reprehenderit et rerum. Velit corporis consequatur nesciunt est corporis et qui quod. Recusandae qui consequatur itaque inventore hic molestiae labore dolores rerum veniam culpa dolorem velit in molestiae voluptatem. Non sed quod animi excepturi sapiente obcaecati quod.</p>
    </div>
  </section>
  <section id="section-three" class="content">
    <div>
      <h2>Section Three</h2>
      <img src="http://placekitten.com/980/450" />
      <p>Dolorem rerum et aspernatur inventore quasi et quod doloremque exercitationem sunt adipiscing facilis possimus minus labore exercitationem aspernatur ipsam voluptatibus excepturi nihil! Voluptatem dolores id accusantium temporibus assumenda et atque unde consectetur fugit sit qui voluptas fugit dolore nihil quidem tempore consequuntur similique reprehenderit et rerum. Velit corporis consequatur nesciunt est corporis et qui quod. Recusandae qui consequatur itaque inventore hic molestiae labore dolores rerum veniam culpa dolorem velit in molestiae voluptatem. Non sed quod animi excepturi sapiente obcaecati quod.</p>
    </div>
  </section>
</main>



<div class="parallax-simple">
	<div class="parallax__layer parallax__layer--back">
		<h4 class="content">Background</h4>
	</div>
	<div class="parallax__layer parallax__layer--base">
		<h3 class="content">Foreground</h3>
	</div>
</div>